<div class="p-5" style="margin-top: 70px;">
    <div class="row">
        <div class="offset-md-2 col-md-6">
            <h1 class="text-center fw-bold mb-4">Reset Password</h1>
            <form #loginForm="ngForm" class="">
                <div class="input-group mb-3">
                    <input type="password" class="form-control" name="password"
                    [(ngModel)]="password" placeholder="enter new password here" />

                    <input type="password" class="form-control" name="password"
                    [(ngModel)]="cPassword" placeholder="confirm password" />
                    <button [disabled]="loginForm.invalid" (click)="reset()" type="submit" 
                    class="input-group-text btn btn-outline-primary">Reset</button>
                </div>
            </form>
        </div>
    </div>
  </div>