<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md">
            <div class="row">
                <div class="offset-md-3 col-md-6 p-3">
                    <h3 >Registration Form</h3>
                    <form #form="ngForm" (ngSubmit)="onSubmit()" >
                        <div class="mb-3">
                            <label for="firstName">First Name</label>
                            <input type="text" required class="form-control" name="firstName" [(ngModel)]="firstName" />
                        </div>
                        <div class="mb-3">
                            <label for="lastName">Last Name</label>
                            <input type="text" required class="form-control" name="lastName" [(ngModel)]="lastName" />
                        </div>
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" required class="form-control" name="email" [(ngModel)]="email" />
                        </div>
                        <div class="mb-3">
                            <label for="password">Password</label>
                            <input type="password" required class="form-control" name="password" [(ngModel)]="password" />
                        </div>
                        <div class="text-center">
                            <!-- <p  class="bg-dark text-white h1">Loading...</p> -->
                            <button *ngIf="loading$ | async" type="button" class="btn btn-success">loading...</button>
                            <button *ngIf="!(loading$ | async)" type="submit" class="btn btn-success" [disabled]="form.invalid">Submit</button>
                        </div>
                        <div class="mt-3"><a routerLink="/home" class="text-primary nav-link"> Are you already registered? kindly click here to login</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>