<div class="container mt-5">
  <div *ngIf="message != undefined &&  message.length > 0" class="">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <span> {{ message }} </span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-md-3">
      <app-add-task></app-add-task>
    </div>
    <div class="col-md">
      <table class="table table-hover table-bordered caption-top">
        <caption>List of tasks</caption>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Created At</th>
            <th scope="col">Updated At</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let task of tasks; let i = index">
            <th name="'task'" scope="row"> {{ i + 1 }} </th>
            <td >{{ task.name }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.createdAt | date }}</td>
            <td>{{ task.updatedAt| date }}</td>
            <td class="d-flex justify-content-between">
              <a [routerLink]="['/edit-task', task.id]"><i class="bi-pencil-square text-primary"></i></a>
              <span data-bs-toggle="modal" [attr.data-bs-target]="'#data'+task.id"><i class="bi-display text-success"></i></span>
              <span (click)="onDelete(task.id)"><i class="bi-trash text-danger"></i></span>
            </td>

          <!-- View Modal -->
         <div class="modal fade" id="data{{ task.id }}" tabindex="-1" aria-labelledby="dataModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="dataModalLabel">Status: {{ task.status }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center">
                <p class="lead">{{ task.name }}</p>
                <hr class="mt-5">
                <div class="d-flex justify-content-between">
                  <div class="badge bg-success p-3 display-2">
                    Created at: <span class="">{{ task.createdAt | date}}</span>
                  </div>
                  <div class="badge bg-secondary p-3 display-2">
                    Updated at: <span class="">{{ task.updatedAt | date}}</span>
                  </div> 
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
          </tr>
        </tbody>
      </table>

     
    </div>
  </div>
</div>



  
