<div class="p-5" style="margin-top: 70px;">
    <div class="row">
        <div class="offset-md-3 col-md-4">
            <h1 class="text-center fw-bold mb-4">Forgot Password</h1>
            <form #loginForm="ngForm" class="">
                <div class="input-group mb-3">
                    <input type="email" class="form-control" name="email"
                    [(ngModel)]="email" placeholder="enter your email here">
                    <button [disabled]="loginForm.invalid" (click)="reset()" type="submit" 
                    class="input-group-text btn btn-outline-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
  </div>
